@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    background: #86c1f1;
    width: 20px;
}

::-webkit-scrollbar-thumb{ 
    border-radius: 8px;
    background: #173077;
    border: 2px solid transparent;
}